{% extends "layout.html" %}
{% block content %}
<table class="table">
    <thead>
        <tr>
            <th scope="col">House</th>
            <th scope="col">Living Space sq_ft</th>
            <th scope="col">car_garage</th>
            <th scope="col">Beds</th>
            <th scope="col">Baths</th>
            <th scope="col">Zip</th>
            <th scope="col">Year</th>
            <th scope="col">List Price</th>
        </tr>
    </thead>

    <tbody>
        {% for property in zillow %}
            <tr>
                <td><a href="view/{{property.ID}}">{{ property.house }}</a></td>
                <td>{{ property.Living_Space_sq_ft }}</td>
                <td>{{ property.Car_Garage }}</td>
                <td>{{ property.Beds }}</td>
                <td>{{ property.Baths }}</td>
                <td>{{ property.Zip }}</td>
                <td>{{ property.Year }}</td>
                <td>{{ property.List_Price }}</td>
            </tr>
        {% endfor %}
    </tbody>

</table>
 <a herf="/zillow/new" class="card-link btn btn-primary">Add New</a>
{% endblock %}
